.flashes {
    list-style: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.success {
    background-color: lightgreen;
    color: green;
}

.danger {
    background-color: lightcoral;
    color: red;
}

.background-body {
    background-image: url("../devka.jpg");
    background-size: cover;
    background-position: center;
}
