{#add_organization.html#}
{% extends "base.html" %}




{% block content %}
    <h1>Добавить организацию</h1>

    <!-- Блок для отображения сообщений -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="alert alert-warning">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}<br>
        {{ form.inn.label }} {{ form.inn() }}<br>
        <div id="inn_warning" style="color: red; display: none;"></div>
        {{ form.address.label }} {{ form.address() }}<br>
        {{ form.phone_number.label }} {{ form.phone_number() }}<br>
        {{ form.email.label }} {{ form.email() }}<br>
        {{ form.is_active.label }} {{ form.is_active() }}<br>
        {{ form.additional_info.label }} {{ form.additional_info() }}<br>
        {{ form.submit() }}
    </form>
    <script>
        {#{raw}#}
        $(document).ready(function () {
            $('#inn').on('input', function () { // Используйте id поля inn из вашей формы
                let inn = $(this).val();
                if (inn.length > 0) { // Отправлять запрос, только если поле не пустое
                    $.ajax({
                        url: '/organizations/check_inn',
                        type: 'GET',
                        data: {inn: inn},
                        success: function (response) {
                            if (response.exists) {
                                $('#inn_warning').text('Организация с таким ИНН уже существует.').show();
                            } else {
                                $('#inn_warning').hide();
                            }
                        },
                        error: function (error) {
                            console.error("Ошибка при проверке ИНН:", error);
                        }
                    });
                } else {
                    $('#inn_warning').hide(); // Скрыть предупреждение, если поле пустое
                }
            });
        });
    </script>
{% endblock %}
