<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление заявителя</title>
</head>
<body>

<h1>Добавление заявителя</h1>

<!-- Начинаем форму -->
<form method="post">
    {#
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
   #}

    <!-- Цикл по полям формы -->
    {% for field in form %}
        <div>
            {{ field.label }}
            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if field.type == "SelectField" %}
                <select id="{{ field.id }}" name="{{ field.name }}">
                    {% for choice in field.choices %}
                        <option value="{{ choice[0] }}"
                                {% if choice[0] == field.data %}selected{% endif %}>{{ choice[1] }}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                {{ field(class_="input") }}
            {% endif %}
        </div><br>
    {% endfor %}

    <input type="submit" value="Добавить">
</form>

</body>
</html>
