<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление Заявителя</title>
</head>
<body>
<h1>Добавление нового заявителя</h1>
<form method="POST" action="/add_applicant">
    {{ form.hidden_tag() }}

    <!-- Поле Имя -->
    <div class="field">
        {{ form.first_name.label }}
        {% if form.first_name.errors %}
            <ul class="errors">{% for error in form.first_name.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ form.first_name(class_='input') }}
    </div>

    <!-- Поле Фамилия -->
    <div class="field">
        {{ form.last_name.label }}
        {% if form.last_name.errors %}
            <ul class="errors">{% for error in form.last_name.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ form.last_name(class_='input') }}
    </div>

    <!-- Поле Email -->
    <div class="field">
        {{ form.email.label }}
        {% if form.email.errors %}
            <ul class="errors">{% for error in form.email.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ form.email(class_='input', type='email') }}
    </div>

    <!-- Поле Телефон -->
    <div class="field">
        {{ form.phone_number.label }}
        {% if form.phone_number.errors %}
            <ul class="errors">{% for error in form.phone_number.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ form.phone_number(class_='input', type='tel') }}
    </div>

    <!-- Поле Адрес -->
    <div class="field">
        {{ form.address.label }}
        {% if form.address.errors %}
            <ul class="errors">{% for error in form.address.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ form.address(class_='textarea') }}
    </div>

    <!-- Кнопка отправки формы -->
    <button type="submit">Создать заявку</button>
</form>
</body>
</html>