<!-- templates/applicant_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали заявителя</title>
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}


<h1>Детали заявителя</h1>

<p>ID: {{ applicant.id }}</p>
<!-- ... (отображение остальных полей applicant) ... -->


</body>
</html>