<p>ID: {{ applicant.id }}</p>
<p>Имя: {{ applicant.first_name }}</p>
<p>Фамилия: {{ applicant.last_name }}</p>
<p>Отчество: {{ applicant.middle_name or 'Не указано' }}</p>
<p>Номер медицинской книжки: {{ applicant.medbook_number }}</p>
<p>СНИЛС: {{ applicant.snils_number }}</p>
<p>Номер паспорта: {{ applicant.passport_number or 'Не указано' }}</p>
<p>Дата рождения: {{ applicant.birth_date.strftime('%Y-%m-%d') }}</p>
<p>Адрес регистрации: {{ applicant.registration_address or 'Не указано' }}</p>
<p>Адрес проживания: {{ applicant.residence_address or 'Не указано' }}</p>
<p>Номер телефона: {{ applicant.phone_number or 'Не указано' }}</p>
<p>Email: {{ applicant.email or 'Не указано' }}</p>
<p>Контингент: {{ applicant.contingent.name }}</p>
<p>Сфера деятельности: {{ applicant.work_field.name }}</p>
<p>Тип заявителя: {{ applicant.applicant_type.name }}</p>
<p>Тип аттестации: {{ applicant.attestation_type.name }}</p>
<p>Редактировал:
    {% if applicant.edited_by %}
        {{ applicant.edited_by.last_name }} {{ applicant.edited_by.first_name }} (ID: {{ applicant.edited_by.id }})
    {% else %}
        Не указано
    {% endif %}
</p>
<p>Время редактирования: {{ applicant.edited_time.replace(tzinfo=timezone.utc).astimezone(tz=None).strftime('%d.%m.%Y %H:%M:%S') if applicant.edited_time else 'Не указано' }}</p>
<p>Редактируется сейчас: {{ 'Да' if applicant.is_editing_now else 'Нет' }}</p>
<p>Редактирует:
    {% if applicant.editing_by %}
        {{ applicant.editing_by.last_name }} {{ applicant.editing_by.first_name }} (ID: {{ applicant.editing_by.id }})
    {% else %}
       Никто
    {% endif %}
</p>
<p>Начало редактирования: {{ applicant.editing_started_at.strftime('%Y-%m-%d %H:%M:%S UTC') if applicant.editing_started_at else 'Не указано' }}</p>

<p>Контракты:</p>
<ul>
    {% for contract in applicant.contracts %}
        <li><a href="{{ url_for('routes.contract_details', contract_id=contract.id) }}">{{ contract.number }}</a></li>
    {% endfor %}
</ul>

{#<a href="{{ url_for('routes_bp.edit_applicant', applicant_id=applicant.id) }}">Редактировать</a>#}

</body>
</html>
