{## templates/edit_applicant.html#}
{% extends 'base.html' %}

{% block content %}
    <h1>Редактирование заявителя</h1>

    <form method="post" novalidate>
        {{ applicant_form.hidden_tag() }}

        {% for field in applicant_form if field.name != 'submit' and field.name != 'csrf_token' %}
            <div>
                {{ field.label }}
                {{ field() }}
                {% for error in field.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        {{ applicant_form.submit() }}
    </form>

    <h2>Визиты</h2>
    <button id="toggleVizits">Показать/Скрыть визиты</button>

    <div id="vizits" style="display: none;">
        <ul>
            {% for vizit in visits %}
                <li>
                    Дата визита: {{ vizit.visit_date.strftime('%d.%m.%Y') }} <br>
                    Контингент: {{ vizit.contingent.name }} <br>
                    Тип аттестации: {{ vizit.attestation_type.name }} <br>
                    Сфера деятельности: {{ vizit.work_field.name }} <br>
                    Тип заявителя: {{ vizit.applicant_type.name }} <br>
                    Контракты (договоры):
                    <ul>
                        {% for contract in vizit.contracts %}
                            <li>
                                <a href="{{ url_for('contract_details', contract_id=contract.id) }}">{{ contract.number }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                </li>

            {% endfor %}
        </ul>
    </div>

    <h2>Контракты</h2>
    <ul>
        {% for contract in applicant.contracts %}
            <li><a href="{{ url_for('contract_details', contract_id=contract.id) }}">{{ contract.number }}</a></li>
        {% endfor %}
    </ul>

    <h2>Добавить визит</h2>
    <form method="post" novalidate>
        {{ visit_form.hidden_tag() }}
        {% for field in visit_form if field.name not in ['csrf_token', 'submit_visit'] %}
            <div>
                {{ field.label }}
                {{ field() }}
                {% for error in field.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}


        {{ visit_form.submit_visit() }}
    </form>


    <a href="{{ url_for('applicants.applicant_details', applicant_id=applicant.id) }}">Назад к деталям заявителя</a>
    <script>
        document.getElementById('toggleVizits').addEventListener('click', function () {
            var vizitsDiv = document.getElementById('vizits');
            if (vizitsDiv.style.display === 'none') {
                vizitsDiv.style.display = 'block';
            } else {
                vizitsDiv.style.display = 'none';
            }
        });
    </script>
{% endblock %}