<!-- templates/search_applicants.html -->
{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Поиск заявителей</h1>
    <div class="container background-body-2">
        <form method="POST" id="search_form">
            {{ form.csrf_token }}

            <div>
                {{ form.last_name.label }} {{ form.last_name(id='last_name') }}
                {{ form.last_name_exact(id='last_name_exact') }} {{ form.last_name_exact.label }}
            </div>
            <hr>


            <div>
                {{ form.snils_number.label }}
                <input type="text" name="snils_part1" maxlength="3" pattern="[0-9]*" id="snils_part1"> -
                <input type="text" name="snils_part2" maxlength="3" pattern="[0-9]*" id="snils_part2"> -
                <input type="text" name="snils_part3" maxlength="3" pattern="[0-9]*" id="snils_part3"> -
                <input type="text" name="snils_part4" maxlength="2" pattern="[0-9]*" id="snils_part4">
            </div>
            <hr>


            <div>
                {{ form.medbook_number.label }}
                <input type="text" name="medbook_part1" maxlength="2" pattern="[0-9]*" id="medbook_part1"> -
                <input type="text" name="medbook_part2" maxlength="2" pattern="[0-9]*" id="medbook_part2"> -
                <input type="text" name="medbook_part3" maxlength="6" pattern="[0-9]*" id="medbook_part3"> -
                <input type="text" name="medbook_part4" maxlength="2" pattern="[0-9]*" id="medbook_part4">

            </div>
            <hr>

            <div>
                {{ form.birth_date_start.label }} {{ form.birth_date_start(id='birth_date_start') }}
                {{ form.birth_date_end.label }} {{ form.birth_date_end(id='birth_date_end') }}
            </div>
            <hr>
            <div>
                {{ form.last_visit_start.label }} {{ form.last_visit_start(id='last_visit_start') }}
                {{ form.last_visit_end.label }} {{ form.last_visit_end(id='last_visit_end') }}
            </div>
            <hr>
            <div>{{ form.registration_address.label }} {{ form.registration_address(id='registration_address') }}</div>
            <hr>
            <div>{{ form.residence_address.label }} {{ form.residence_address(id='residence_address') }}</div>

            <div>
                {{ form.edited_by_user.label }}
                {{ form.edited_by_user(id='edited_by_user') }}
            </div>


            <div>
                {{ form.edited_time_start.label }}
                {{ form.edited_time_start(class_="datepicker", id='edited_time_start') }}
            </div>
            <div>
                {{ form.edited_time_end.label }}
                {{ form.edited_time_end(class_="datepicker", id='edited_time_end') }}
            </div>


            {{ form.submit() }}


            <button type="button" onclick="resetForm()">Очистить</button>

            <script>
                function resetForm() {
                    document.getElementById("search_form").reset();

                    for (let i = 1; i <= 4; i++) {
                        document.getElementById('snils_part' + i).value = '';
                        document.getElementById('medbook_part' + i).value = '';
                    }
                    document.getElementById('last_name').value = '';
                    document.getElementById('last_name_exact').value = '';
                    document.getElementById('birth_date_start').value = '';
                    document.getElementById('birth_date_end').value = '';
                    document.getElementById('last_visit_start').value = '';
                    document.getElementById('last_visit_end').value = '';
                    document.getElementById('registration_address').value = '';
                    document.getElementById('residence_address').value = '';
                    document.getElementById('edited_by_user').value = 'Все';
                    document.getElementById('edited_time_start').value = '';
                    document.getElementById('edited_time_end').value = '';
                }
            </script>

        </form>
    </div>

    {% if applicants %}
        <h2>Результаты поиска:</h2>
        <div class="mt-4">
            <form action="{{ url_for('applicants.export_found_data') }}" method="POST">
                {# Передаем ID найденных заявителей как строку, разделенную запятыми #}
                <input type="hidden" name="applicant_ids" value="{{ applicant_ids_for_export | join(',') }}">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-file-excel"></i> Выгрузить найденных в Excel
                </button>
            </form>
        </div>
        <ul>
            {% for applicant in applicants %}
                <li>
                    <a href="{{ url_for('applicants.applicant_details', applicant_id=applicant.id) }}">{{ applicant.full_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}